

// * Container -----------------------------------------------------------------
%container {
  margin-right : auto;
  margin-left : auto;
  width : var(--container-width);
  max-width: var(--container-max-width);
}
.container {
  @extend %container;
}

// * Base Layout ---------------------------------------------------------------
:root, html, body {
  background-color : #ffffff !important;
  @media (prefers-color-scheme: dark) {
    background-color: #575757  !important;
    //background-color: $navbar-bg-color-dark !important;
    //color: white;
  }
  @media (prefers-color-scheme: light) {

    //background-color: $navbar-bg-color-light !important;
    //color: black;
    background-color: #f7f7f7 !important;
  }
}

// * Main Page Regions ---------------------------------------------------------

// Add Container Style to Certain inner Regions
[role=banner] > hgroup {
  @extend %container;
}
[role=main] > * {
  &:not(.fluid) {
    @extend %container;
  }
}

// Page Header
[role=banner] {
  padding : 2rem 0;
  background : $offwhite;
  width : 100%;
  hgroup {
    #{$all-headings} {
      line-height : 1;
      margin : 1rem 0;
    }
  }
}

// Page Main
[role=main] {
  padding : 1rem 0;
  background : white;
  width : 100%;
  & > * {
    padding : 1rem 0;
    margin-bottom : 2rem;
  }
}

// Page Footer
[role=contentinfo] {
  background : $offwhite;
  text-align : center;
  margin : 0;
  width : 100%;
  padding : 2rem 0;
  p {
    text-align : center;
    font-size : small;
    color: gray;
    margin : 0 auto;
    padding : 0;
    line-height : 1;
  }
}

// * Navigation Bar ------------------------------------------------------------
%navbar {
  text-align : center;
  width : 100%;
  max-width : 100vw;
  margin : 0;
  padding : 0;
  //background-color : whitesmoke;
  ul {
    text-align : center;
    width : 100%;
    max-width : 100vw;
    margin : 0;
    list-style : none;
    //background-color : whitesmoke;
    li {
      list-style : none;
      a {
        text-decoration : none;
      }
    }
  }
}
[role=navigation] {

  @extend %navbar;
  margin : 0;

  ul {
    display : flex;
    flex-direction : column;
    align-items : center;
    align-content : center;
    justify-content : flex-start;
    margin : 0;
    width : 100%;
    padding : 0;
  }
  li {
    display : block;
    width : 100%;
    text-align : center;
    margin : 0;
    padding : 0;
  }
  a {
    display : block;
    width : 100%;
    max-width : 100vw;
    text-align : center;
    margin : 0;
    padding : 1rem 0;
  }

  @include min-width(560px) {
    text-align : unset;
    ul {
      display : flex;
      align-items : center;
      align-content : center;
      flex-direction : row;
      justify-content : flex-end;
      margin : 0 auto;
      width : var(--container-width);
      max-width : var(--container-max-width);

    }
    li {
      width : unset;
      display : inline-block;
      line-height : 1;
      margin : 0;
    }
    a {
      width : unset;
      display : inline-block;
      padding : 1rem;
      line-height : 1;
      margin : 0;
    }
  }
}
nav, nav * {
  overflow-x: hidden;
}
nav {
  //background : $navbar-background-color;
  @media (prefers-color-scheme: dark) {
    background-color: #575757  !important;
    //background-color: $navbar-bg-color-dark !important;
    color: white;
  }
  @media (prefers-color-scheme: light) {

    //background-color: $navbar-bg-color-light !important;
    color: black;
    background-color: rgba(#f7f7f7, 0.98) !important;
  }

  position : relative;
  ul {
    background : $navbar-background-color;
    @media (prefers-color-scheme: dark) {
      background-color: #575757  !important;
      //background-color: $navbar-bg-color-dark !important;
      color: white;
    }
    @media (prefers-color-scheme: light) {

      //background-color: $navbar-bg-color-light !important;
      color: black;
      background-color: rgba(#f7f7f7, 0.98) !important;
    }
  }
  a {
    background : $navbar-background-color;
    border: $navbar-background-color solid 2px;
    @media (prefers-color-scheme: dark) {
      background-color: #575757  !important;
      border-color: #575757  !important;
      //background-color: $navbar-bg-color-dark !important;
      color: white;
    }
    @media (prefers-color-scheme: light) {

      //background-color: $navbar-bg-color-light !important;
      color: black;
      background-color: #f7f7f7 !important;
      border-color: #f7f7f7 !important;
    }
  }
  a.active {
    pointer-events: none;

    @media (prefers-color-scheme: dark) {
      background-color: #575757  !important;
      border-color: #575757  !important;
      //background-color: $navbar-bg-color-dark !important;
      color: white;
      color: rgba(white, 0.25);
    }
    @media (prefers-color-scheme: light) {

      //background-color: $navbar-bg-color-light !important;
      color: rgba(black, 0.25);
      background-color: #f7f7f7 !important;
      border-color: #f7f7f7 !important;
    }
  }
  a:focus {
    outline: none;
    border: $primary-color solid 2px;
  }
}
/*
nav ul {
  display : none;
  visibility: collapse;
  height : 0;
  transform: translateY(-100%);
  transition: all 300ms ease-out;
  @include min-width(560px) {
    display : flex;
  }
}
nav ul.open {
  display : flex;
  visibility: visible;
  height : unset;
  transform: translateY(0);
}

@media screen and (max-width: 559px) {
  [role=banner] {
    padding-top : 4rem !important;
  }
  #navbar-brand {
    //float : left;
    vertical-align : middle;
  }
  nav {
    position : fixed;
    z-index : 1001;
    display : flex;
    flex-direction : row;
    align-items : center;
    align-content : center;
    justify-content : space-between;
    vertical-align : middle;
    * {
      vertical-align : baseline;
    }

    min-height : 2rem;


    #navigation-menu-button {
      z-index : 1002;
      text-align : right !important;
      float : right !important;
      //margin-left : auto !important;
      //margin-right : 0 !important;
      position : absolute !important;
      right : 0 !important;
      top : 0;
      //bottom : 0;
    }
  }
}

#navbar-brand {
  transition: all 120ms ease-out;
}
nav.mobile-expanded {
  &:first-child {
    display : none;
  }

  height : 100vh !important;
  background : #333333;
  position : fixed;
  left : 0;
  right : 0;
  top : 0;
  bottom : 0;
  z-index : 1000;
  ul {
    height : 100vh;
    background : #333333;
    position : absolute;
    left : 0;
    right : 0;
    top : 0;
    bottom : 0;
    z-index : 1001;
  }
  button {
    z-index : 1002;
  }
}
*/

// * Alternative Page Header (With Media Object + titles) ----------------------
[role=banner] .media-object {
  @extend %container;

  @media screen and (max-width: 559px) {
    text-align : center;
    .image-content {
      text-align : center;
      margin-left : auto;
      margin-right : auto;
    }
  }

  @include min-width(560px) {
    display : flex;
    flex-direction : row;
    align-items : center;
    align-content : center;
    justify-content: space-around;
  }
  .image-content {
    max-width : 35%;
    img {
      display : inline-block;
      width : 75%;
      height : auto;
      overflow: hidden;
      border-radius: 3rem;
      background-color : transparent;
      box-shadow: 0 12px 21px -3px rgba(#ea3a7e, 0.5);
    }
  }
  .text-content {

    font-weight : 600;
    h1 {
      word-break: break-word;
      @include ms-respond(font-size, 3);
    }
    h1, h2 {
      font-weight : inherit;
      line-height : 1.25;
    }
    h2 {
      line-height : 1;
      @include ms-respond(font-size, 2);
      font-weight : normal;
    }
  }
}

// * Alternative Section -------------------------------------------------------
section {

  &.fluid {
    min-height : 100vh;
    width : 100%;
    margin-left : 0;
    margin-right : 0;
    &:nth-child(even) {
      background : $offwhite;
    }
    header {
      @extend %container;
    }
    & > * {
      @extend %container;
    }
  }
}

// * Alternative Section Header ------------------------------------------------
.alt-section-header {

  display : flex;
  width : 100%;
  flex-direction : row;
  //align-items : center;
  //align-content : center;
  align-items : stretch;
  align-content : stretch;
  justify-content : space-between;
  padding-left : 0 !important;
  padding-right : 0 !important;
  h3 {
    margin-left : 0;
    margin-right : auto;
    text-align : left;
  }
  small, h4 {
    margin-left : auto;
    margin-right : 0;
    text-transform : uppercase;
    font-weight : normal;
    font-size : small;
    text-align : right;
  }
}
