
// * Responsive Modular Typescale ----------------------------------------------

// Setup the variable
$modularscale: (
  base: 21px,
  ratio: 1.12,
  400px: (
    ratio: 1.2,
  ),
  480px: (
    ratio: 1.2
  ),
  640px: (
    ratio: 1.25
  ),
  900px: (
    base: 19px,
    ratio: 1.2,
  ),
  1200px: (
    base: 21px,
    ratio: 1.2,
  ),
);
// Set HTML (base) font-size
html { @include ms-respond(font-size,0); }
// Set Body font-size
body { font-size: 1rem; }
// Set Paragraph font-size
p { font-size: 1rem; }
// Set Components font-size
button, a, input, ul, li, textarea { font-size: 1em; }
// Set Headings font-size
h1 { @include ms-respond(font-size,4); }
h2 { @include ms-respond(font-size,3); }
h3 { @include ms-respond(font-size,2); }
h4 { @include ms-respond(font-size,1); }
h5 { @include ms-respond(font-size,0); }
h6 { @include ms-respond(font-size,-1); }

// * Other Typesetting ---------------------------------------------------------

body, p {
  line-height : 1.5;
}

#{$all-headings} {
  line-height : 1.5;
  margin : .25rem auto .75rem;
}

button, .button, [type=button], input, textarea, a {
  line-height : 1;
}

section {
  h3 {
    margin-top : 0;
    margin-bottom : 1.5rem;
  }
  h4 {
    margin-top : .5rem;
    margin-bottom : .25rem;
    font-weight : 600;
    letter-spacing : .5px;
  }
  p {
    margin-top : .25rem;
    margin-bottom : 2rem;
  }
}

@include min-width(768px) {
  body, p {
    line-height : 1.75;
  }
  p {
    margin-bottom : 4rem !important;
  }
}

blockquote {
  background : whitesmoke;
  padding : 1rem;
  border-left : 8px solid #ccc;

  p {
    font-style : italic;
    font-size : 1.125rem;
    color: #888;
    font-weight : 600;
    line-height : 2;
    //text-indent: hanging 2em !important;
    &:first-line {
      text-indent: hanging 2em !important;
    }
    
  }
}
