

// * Colors --------------------------------------------------------------------
$primary-color: #6001FF;
$secondary-color: #343434;
$offwhite: ghostwhite;
$defaul-button-color: #d9d9d9;
$defaul-button-text-color: #515151;
$viewport-background-color: $offwhite;
$main-background-color: #fff;
$navbar-background-color: #dedede !default;
$navbar-bg-color-light : #fff;
$navbar-bg-color-dark : #222;
@media (prefers-color-scheme: dark) {
  .day.dark-scheme   { background:  #333; color: white; }
  .night.dark-scheme { background: black; color:  #ddd; }
  $navbar-background-color: $navbar-bg-color-dark;
}

@media (prefers-color-scheme: light) {
  .day.light-scheme   { background: white; color:  #555; }
  .night.light-scheme { background:  #eee; color: black; }
  $navbar-background-color: $navbar-bg-color-light;
}

// * Variable Selectors --------------------------------------------------------

// Headings
$all-headings: h1, h2, h3, h4, h5, h6;


// * Root Variables ------------------------------------------------------------
:root {
  --container-width: 90%;
  --container-max-width: 768px;
  --container-margins: auto;
}


// * ---------------------------------------------------------------------------
